* { margin:0; padding:0; }
body { font: 72.5%/1.7em "Lucida Grande", "Lucida Sans Unicode", verdana, geneva, sans-serif; color:#555; 
background: #fff url(../images/headerbg.gif) repeat-x; 
margin-left:700px;
margin-top:120px;
}