.amp {
		font-family:Garamond,Baskerville,Georgia,serif !important;
		font-style:italic;
		font-weight:normal;
		border: none;
	}
	
	a.polaroid {
		display: block;
		text-decoration: none;
		color: #333;
		padding: 10px 10px 20px 10px;
		width: 150px;
		border: 1px solid #BFBFBF;
		background-color: white;
		z-index: 2;
		font-size: 0.7em;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-webkit-transition: -webkit-transform 0.5s ease-in;
	}
	a.polaroid:hover,
	a.polaroid:focus,
	a.polaroid:active {
		z-index: 999;
		border-color: #6A6A6A;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	.polaroid img {
		margin: 0 0 15px;
		width: 150px;
		height: 150px;
	}
	
	a img {
		border: none;
		display: block;
	}
	
	.photo-album {
		position: relative;
		width: 100%;
		margin: 0 auto;
		max-width: 70em;
		height: 800px;
		margin-top: 5em;
		min-width: 800px;
		max-width: 900px;
	}
	.photo-album .polaroid {
		position: absolute;
	}
	.photo-album h1 {
		position: absolute;
		z-index: 5;
		top: 150px;
		text-align: center;
		width: 100%;
		line-height: 1.9;
	}
	.photo-album h1 span {
		background-color: white;
		font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
		padding: 0.4em 0.8em 0.3em 0.8em;
		-webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		-moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
		border: 1px solid #6A6A6A;
	}
	.photo-album .small {
		width: 75px;
		padding: 6px 6px 12px 6px;
		font-size: 0.6em;
	}
	.photo-album .small img {
		width: 75px;
		height: 75px;
	}
	.photo-album .medium {
		width: 200px;
		padding: 13px 13px 26px 13px;
		font-size: 0.8em;
	}
	.photo-album .medium img {
		width: 200px;
		height: 200px;
	}
	.photo-album .large {
		width: 300px;
		padding: 20px 20px 30px 20px;
		font-size: 1em;
	}
	.photo-album .large img {
		width: 300px;
		height: 300px;
	}
	.photo-album .img1 {
		top: 150px;
		left: -250px;
		-webkit-transform: rotate(9deg);
		-moz-transform: rotate(9deg);
		transform: rotate(9deg);
	}
	.photo-album .img2 {
		top: 100px;
		left: -100px;
		-webkit-transform: rotate(-7deg);
		-moz-transform: rotate(-7deg);
		transform: rotate(-7deg);
	}
	.photo-album .img3 {
		top: 150px;
                left: 50px;
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
	}
        .photo-album .img4 {
		top: 100px;
		left: 200px;
		-webkit-transform: rotate(-6deg);
		-moz-transform: rotate(-6deg);
		transform: rotate(-6deg);
	}
	.photo-album .img5 {
		top: 150px;
		left: 350px;
		-webkit-transform: rotate(11deg);
		-moz-transform: rotate(11deg);
		transform: rotate(11deg);
	}
	.photo-album .img6 {
		top: 100px;
                left: 500px;
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
	}
        .photo-album .img7 {
		top: 150px;
		left: 650px;
		-webkit-transform: rotate(-12deg);
		-moz-transform: rotate(-12deg);
		transform: rotate(-12deg);
	}
	.photo-album .img8 {
		top: 100px;
		left: 800px;
		-webkit-transform: rotate(7deg);
		-moz-transform: rotate(7deg);
		transform: rotate(7deg);
	}
	.photo-album .img9 {
		top: 150px;
                left: 950px;
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}
        .photo-album .img10 {
		top: 400px;
		left: -200px;
		-webkit-transform: rotate(-9deg);
		-moz-transform: rotate(-9deg);
		transform: rotate(-9deg);
	}
	.photo-album .img11 {
		top: 450px;
		left: -50px;
		-webkit-transform: rotate(4deg);
		-moz-transform: rotate(4deg);
		transform: rotate(4deg);
	}
	.photo-album .img12 {
		top: 400px;
                left: 100px;
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}
        .photo-album .img13 {
		top: 450px;
		left: 250px;
		-webkit-transform: rotate(9deg);
		-moz-transform: rotate(9deg);
		transform: rotate(9deg);
	}
	.photo-album .img14 {
		top: 400px;
		left: 400px;
		-webkit-transform: rotate(-5deg);
		-moz-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	.photo-album .img15 {
		top: 450px;
                left: 550px;
		-webkit-transform: rotate(-7deg);
		-moz-transform: rotate(-7deg);
		transform: rotate(-7deg);
	}
        .photo-album .img16 {
		top: 400px;
		left: 700px;
		-webkit-transform: rotate(12deg);
		-moz-transform: rotate(12deg);
		transform: rotate(12deg);
	}
	.photo-album .img17 {
		top: 450px;
		left: 850px;
		-webkit-transform: rotate(-9deg);
		-moz-transform: rotate(-9deg);
		transform: rotate(-9deg);
	}
	
	a:hover,
	a:focus {
		z-index: 5;
	}